.fa-solid {
  padding-top: 3px;
}

.menuitems {
  transition-duration: 0.25s;
}

.active-item {
  background-color: #86efac;
  color: black;
}

.sidebar {
  margin-right: 0.25rem;
  border-radius: 0.375rem;
  border-width: 2px;
  border-color: #1e40af;
  height: 100vh;
  color: #f3f4f6;
  background-color: #3b82f6;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
